@model IEnumerable<EnglishCoucil.Areas.Admin.Data.ChiTietLopHoc>
@{
    ViewBag.Title = "viewScore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Header Start -->
<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-1">Class Schedule</h1>
        <div class="d-inline-flex text-white mb-5">
            <p class="m-0 text-uppercase"><a class="text-white" href="@Url.Action("Index", "Home", null , Request.Url.Scheme)">Home</a></p>
            <i class="fa fa-angle-double-right pt-1 px-3"></i>
            <p class="m-0 text-uppercase">Class Schedule</p>

        </div>
        <h5 class="text-black">@ViewBag.Message</h5>
        <h5 class="text-black"></h5>
        <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
        </div>
    </div>
</div>
<!-- Header End -->
<div class="col-lg-7">
    <div class="section-title position-relative mb-4">
        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">About Us</h6>
        <h1 class="display-4">First Choice For Online Education Anywhere</h1>
    </div>
    <p></p>
    <div class="row pt-3 mx-0">
        <div class="col-3 px-0">
            <div class="bg-success text-center p-4">
                <h1 class="text-white" data-toggle="counter-up">123</h1>
                <h6 class="text-uppercase text-white">Available<span class="d-block">Subjects</span></h6>
            </div>
        </div>
        <div class="col-3 px-0">
            <div class="bg-primary text-center p-4">
                <h1 class="text-white" data-toggle="counter-up">1234</h1>
                <h6 class="text-uppercase text-white">Online<span class="d-block">Courses</span></h6>
            </div>
        </div>
        <div class="col-3 px-0">
            <div class="bg-secondary text-center p-4">
                <h1 class="text-white" data-toggle="counter-up">123</h1>
                <h6 class="text-uppercase text-white">Skilled<span class="d-block">Instructors</span></h6>
            </div>
        </div>
        <div class="col-3 px-0">
            <div class="bg-warning text-center p-4">
                <h1 class="text-white" data-toggle="counter-up">1234</h1>
                <h6 class="text-uppercase text-white">Happy<span class="d-block">Students</span></h6>
            </div>
        </div>
    </div>
</div>